
.Orders {
  margin: 50px auto;
  width: 742px;
  display: flex;
  flex-direction: column;
  border: 1px solid #5e5e5e;
}

.Orders-box {
  position: relative;
  margin: 0;
  padding: 2px;
  border: 1px solid #a5a5a5;
  display: flex;
  flex-direction: row;
}

.Orders-item {
  width: 33%;
  position: relative;
  margin: 0;
  padding: 2px;
  border: 1px solid #a5a5a5;
}
